/*

!/.gitignore
!/readme.md
!/package.json
!/gruntfile.js
!/bower.json

!/scripts/

!/src/
/src/*
!/src/drequire.js
!/src/app.js
!/src/package.json
!/src/bin/
!/src/lib/
!/src/routes/
!/src/views/
!/src/public/
/src/public/*
!/src/public/images/
!/src/public/javascripts/
!/src/public/stylesheets/
